
.print-a4 {
  width: 21cm !important;
  height: 29.7cm !important;
  margin: 2rem auto !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  background: white !important;
  overflow: hidden !important;
}

* {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  /* outline: 1px solid rgba(255, 0, 0, 0.3); */
}

@media print {
  .print-a4 {
    box-shadow: none !important;
    margin: 0 auto !important;
  }
}